* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  /* background: #070e2f; */
}
body {
  background: linear-gradient(90deg, #e9f0fe, #c4dcff);
}

h1 {
  text-align: center;
}

.container {
  /* color: #fff; */
  width: 100%;
  max-width: 450px;
  margin: 150px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.102);
  border: 1px solid rgba(255, 255, 255, 0.302);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.102);
  z-index: 1;
}

.theme-mode-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  /* filter: brightness(0) invert(1); */
}

.theme-mode-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle-blue {
  width: 150px;
  height: 150px;
  background: #738dff;
  top: 70px;
  left: 500px;
}

.circle-pink {
  width: 120px;
  height: 120px;
  background: #ff7ccd;
  bottom: 170px;
  left: 600px;
}

.circle-yellow {
  width: 200px;
  height: 200px;
  background: #e7ff7d;
  bottom: 330px;
  right: 500px;
}

.time-date-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.time-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.time-width {
  text-align: center;
  width: 100px;
}

#time {
  font-size: 3.2rem;
}

#date-para {
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.15);
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  color: #2a2a2a;
}

button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-hr {
  background: rgba(115, 141, 255, 0.2);
}

.btn-time-zone {
  background: rgba(255, 124, 205, 0.2);
}
