* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  border: 1px solid black;
  max-width: 400px;
  margin: 150px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 15px;
}

.time-date-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#time {
  font-size: 3.2rem;
}

#date {
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 7px 24px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1rem;
}
